<!doctype html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <h1>eth0</h1>
        <form action="/api/ip" method="post">
            {{ network.error or "no network error"}} <br />
            Connection: {{ network.connection or "unknown" }} <br />
            IP: {{ network.ip or "not set" }} <br />
            New IP: <input type="text" name="ip" /> <br />
            Netmask: {{ network.netmask or "not set" }} <br />
            Prefix: {{ network.prefix or "not set" }} <br />
            New prefix:
            <input type="number" name="prefix" min="1" max="32" /> <br />
            Gateway: {{ network.gateway or "not set" }} <br />
            New gateway: <input type="text" name="gateway" /> <br />
            DNS: {{ network.dns or "not set" }} <br />
            New DNS: <input type="text" name="dns" /><br />
            <button type="submit">Submit</button>
        </form>
        {{ message or "no message" }}
        <br />
        <h2>Account</h2>
        Current user: {{ username }}
        <form action="/api/account" method="post">
            Current password:
            <input type="password" name="current_password" required />
            <br />
            New username:
            <input type="text" name="new_username" />
            <br />
            New password:
            <input type="password" name="new_password" />
            <br />
            <button type="submit">Update account</button>
        </form>
        <br />
        <form action="/api/logout" method="post">
            <button type="submit">Sign out</button>
        </form>
    </body>
</html>
